<div class="container center">
  <footer class="footer">
  <small>
  Copyright &copy; <a href="github.com/ppsde3">Prashant </a>
  </small>
  <nav>
  <ul>
  <li><%= link_to "About", about_path %></li>
  </ul>
  </nav>
  </footer>
</div>